<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.demo.mapper.adminMapper.SetMapper">
    <update id="updateUserImage">
        UPDATE tb_set SET set_user_image = #{pictureId} where set_id = 1
    </update>
    <update id="updateRobotImage">
        UPDATE tb_set SET set_robot_image = #{pictureId} where set_id = 1
    </update>
    <update id="updateBack">
        UPDATE tb_set SET set_back = #{pictureId} where set_id = 1
    </update>
    <update id="updateAdminImage">
        UPDATE tb_set SET set_admin_image = #{pictureId} where set_id = 1
    </update>
</mapper>